<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9986527954.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css\styles.css">

</head>
<body>
    <h1 class="heading">Pomodoro Timer</h1>
    <h3 class="author">Made by Akbar</h3>
    <div class="container text-center">
        <div class="position-absolute top-50 start-50 translate-middle">
            
          
            <div class="circ">
                <div class="timer">
                    <div class="container">
                        <div id="time">
                            <span id="minutes">00</span>
                            <span id="colon">:</span>
                            <span id="seconds">10</span>
                        </div>
                        <div id="timer-button">Start</div>
                        <span id="setting"><i class="fa-solid fa-gear"></i></span>
                    </div>
                
                </div>
            </div>
</div>
</div>
<script src="index.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>